<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MeloHub-Albums</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/cleanstyles.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/album.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/player.css" />
    <link rel="icon" type="image/x-icon" href="../static/img/logo_black.ico" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.0.0/modern-normalize.min.css"/>
</head>
<body>
<header>
    <a href="index.html" class="logo" >
        <img class="image_logo"
         src="../static/img/logo.png"
         alt="MeloHub logo"/>
        <p>
            MELOHUB
        </p>
    </a>

    <nav>
        <div class="pages">
            <a href="catalogue.html">CATALOGUE</a>
            <a href="genres.html">GENRES</a>
            <a href="podcasts.html">PODCASTS</a>
        </div>

         <div id="search_icon_div" onclick="window.location.href='search.html'">
            <img id="search_icon"
                 src="../static/img/search.png"
                 alt="search"/>
            <a href="login.html">
                <button class="button-54" role="button" style="margin-top: 0">Sing Up</button>
            </a>
        </div>
    </nav>
    <div id="menu_icon">
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
    </div>
</header>
<main>
    <div class="background">
        <section>
            <div class="album-info">
                <div class="album-art">
                    <img src="{{ album.cover.url }}" alt="Album Art">
                    <div class="actions">
                        <button class="play">Play</button>
                    </div>
                </div>
                <div class="album-details">
                    <h2>
                        {{ album.name }}
<!--                        if podcast :name elif album: artistname-->
                    </h2>
                    <h1>{{ album.name }}</h1>
                    <span>
                        <span>Hard Rock</span>
                        <span>&copy; 2016</span>
                    </span>
                </div>
            </div>
            <div class="album-tracks">
                <ol>
                    <li>
                        <span>Feel Invincible</span>
                        <span>3:49</span>
                    </li>
                    <li>
                        <span>Back From The Dead</span>
                        <span>3:33</span>
                    </li>
                    <li>
                        <span>Stars</span>
                        <span>3:47</span>
                    </li>
                    <li>
                        <span>I Want To Live</span>
                        <span>3:28</span>
                    </li>
                    <li>
                        <span>Undefeated</span>
                        <span>3:35</span>
                    </li>
                    <li>
                        <span>Famous</span>
                        <span>3:18</span>
                    </li>
                    <li>
                        <span>Lions</span>
                        <span>3:24</span>
                    </li>
                    <li>
                        <span>Out Of Hell</span>
                        <span>3:34</span>
                    </li>
                    <li>
                        <span>Burn It Down</span>
                        <span>3:16</span>
                    </li>
                    <li>
                        <span>Watching For Comets</span>
                        <span>3:29</span>
                    </li>
                    <li>
                        <span>Saviors Of The World</span>
                        <span>3:46</span>
                    </li>
                    <li>
                        <span>The Resistance</span>
                        <span>3:52</span>
                    </li>
                </ol>
            </div>
        </section>
    </div>

</main>
<footer>
    <div id="container">
        <link href='https://fonts.googleapis.com/css?family=Allerta' rel='stylesheet'>
        <div id="song_info">
            <img alt="" src="../static/img/cover.jpg"/>
            <div id="song_title">
                <h3>Title</h3>
                <p>Author</p>
            </div>
        </div>
        <div class="container-audio">
            <audio controls  loop autoplay>
               <source src="" type="audio/ogg">
               Your browser dose not Support the audio Tag
           </audio>
        </div>
    </div>
</footer>
</body>
</html>