header {

}
footer{
    border-top: black;
    height: 100px;
    background-color: #eee;
}
body{
    margin: 0;
    width: 100%;
    min-width: 300px;
     background-image: linear-gradient(to right top, #e57db8, #d785c9, #c68ed7, #b397e0, #9f9fe6, #87a4e7, #70a7e5, #5aaadf, #39aad3);


}
main{
    display: flex;
    flex-direction: column;
    min-height:550px;
    /*background: linear-gradient(0deg, rgba(255,255,255,1) 45%,  rgba(255,255,255,0.98) 65%, rgba(255,255,255,0.95) 75%, rgba(255,255,255,0.93) 80%, rgba(255,255,255,0.88) 86%, rgba(255,255,255,0.85) 90%, rgba(255,255,255,0.66) 93%, rgba(255,255,255,0.4) 95%, rgba(255,255,255,0.10) 98%, rgba(255,255,255,0) 100%);*/



}
.album_cover{
    width: 200px;
    height: 200px;
    object-fit: cover;
}



:root {
    --color: #faa700;
    --color-light: #f5ede1;
    --dark: #a7a7a7;
    --darker: #303030;
    --sans-serif: 'Roboto', sans-serif;
}

body {
    font-family: var(--sans-serif);
}

.background {
    width: 100%;
    background-image: url("../img/cover.jpg");
    background-position: center;
    background-size: cover;


    box-shadow: inset 0px -17vw 20vw 1vw #0a1a24;
    z-index: -1;
}

img {
    max-width: 100%;
    max-height: 100vh;
}

section {
    margin: 100px 56px;
    padding: 20px 56px;
    color: #d3d3d3;
    background: rgba(0, 0, 0, 0.36);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.album-art {
    float: left;
    width: 220px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.album-art img {
    width: 100%;
    margin-bottom: 19px;
    box-shadow: 0 5px 60px -3px rgba(0, 0, 0, 0.18);
    object-fit: cover;
}

.play {
    color: white;
    background: #9ca0e6bf;
    padding: 10px;
    text-transform: uppercase;
    flex: 1 0 50%;
}


.album-details h2 {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
}

.album-details{
    display: flex;
    flex-direction: column;
    align-content: space-between;
}
.album-details span{
    color: #b5b5b5;
}
.album-details h1 {
    font-size: 50px;
    font-weight: 500;
    word-wrap: break-word;
        margin-top: 8px;
    margin-bottom: 57px;
    color: white;
}

.album-tracks ol {
    list-style-type: none;
    padding: 20px 36px;
    font-weight: 500;

}

.album-tracks ol li {
    counter-increment: number;
    height: 45px;
    display: flex;
    justify-content: space-between;
}

.album-tracks ol li span:not(:last-child) {
    margin-right: 2em;
}
.album-tracks ol li span:last-child {
    color: #bdb4f5;
}
.album-tracks ol li span:first-child {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #f7efff;
    flex-grow: 1;
}
.album-tracks ol li::before {
    content: counter(number);
    margin-right: 10px;
}

.actions {
    display: flex;
}

@media(max-width: 700px) {
    section {
        display: flex;
        flex-direction: column;
    }
    .album-art {
        width: 100%;
        img {
            width: auto;
            max-width: 100%;
            display: block;
        }
    }
    .album-details {
        float: left;
        max-width: 100%;
    }
}

@media(max-width: 550px) {
    section {
        margin: 100px 20px 20px 20px;
        padding: 20px 16px;
    }
    .album-tracks ol {
        padding: 16px;
    }
}