
footer{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    height: 100%;
    padding: 10px 20px;
}
a{
    text-decoration: none;
}
footer a {
    color: black;
}
footer ol {
    color: black;
    text-align: right;
    padding: 0;
}
.logo {
    display: flex;
    justify-content: center;
}
ol {
    list-style-type: none;
}

body{
    margin: 0;
    min-height: 100%;
    background-image: linear-gradient(to right top, #e57db8, #d785c9, #c68ed7, #b397e0, #9f9fe6, #87a4e7, #70a7e5, #5aaadf, #39aad3, #1da8c3, #16a6b0, #29a29c);
}
main{
    display: flex;
    flex-direction: column;
}
#upper_part{
    min-height: 570px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', monospace;
}
.title{
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
    color: white;
    margin-bottom: 0;
}
.subtitle{
    text-align: center;
    color: #ffffffc4;
    margin-top: 10px;
}
.table{
    width: 90%;
    padding: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#table_right_side{
    background: rgba(255, 255, 255, 0.21);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.7px);
    -webkit-backdrop-filter: blur(5.7px);
    border: 1px solid rgba(255, 255, 255, 0.12);
    padding: 30px;
    color: white;
    width: 100%;
}
#table_right_side h2{
    font-size: 29px;
}

#song_covers_icon{
    max-width: 100%;
    object-fit: cover;
}
ul {
    list-style-type: none;
}
#lower_part{
    background-color: #ffffffcf;
    font-family: 'Montserrat', monospace;
    padding: 40px;
}

#new_releases_title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
#new_releases{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.track_cover{
    width: 200px;
    height: 200px;
    object-fit: cover;
}


@media (min-width: 768px) and (max-width: 1023px) {
    .table{
        flex-direction: column-reverse;
        align-items: center;
    }
    #table_right_side{
        margin-bottom: 10px;
    }
    #song_covers_icon{
        opacity: 10;
        width: 550px;
        position: absolute;
        top: 230px;
        right: 3%;
    }
}

/* Для мобільної версії */
@media (max-width: 767px) {
    .table{
        flex-direction: column-reverse;
        align-items: center;
    }
    #table_right_side{
        margin-bottom: 10px;
    }
    #song_covers_icon{
        display: none;
    }
    #new_releases{
        padding: 0;
    }
}
