<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MeloHub-Albums</title>
    <link rel="stylesheet" type="text/css" href="../css/cleanstyles.css" />
    <link rel="stylesheet" type="text/css" href="../css/album_list.css" />
    <link rel="stylesheet" type="text/css" href="../css/player.css" />
    <link rel="icon" type="image/x-icon" href="../img/logo_black.ico" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.0.0/modern-normalize.min.css"/>
</head>
<body>
<header>
    <a href="../../index.html" class="logo" >
        <img class="image_logo"
         src="../img/logo.png"
         alt="MeloHub logo"/>
        <p>
            MELOHUB
        </p>
    </a>
    <nav>
        <a href="catalogue.html">CATALOGUE</a>
        <a href="genres.html">GENRES</a>
        <a href="podcasts.html">PODCASTS</a>
    </nav>

    <div id="search_icon_div">
        <img id="search_icon"
             src="../img/search.png"
             alt="search"/>
        <a href="../templates/login.html">
            <button class="button-54" role="button" style="margin-top: 0">Sing Up</button>
        </a>
    </div>
</header>
<main>
    <h2>CHOSEN LIST</h2>
    <section class="catalogue_section">
        <div class="album" onclick="window.location.href='album.html'">
            <img class="album_cover"
                     src="../img/cover.jpg"
                     alt=""
                />
            <h3 class="album_title">Album</h3>
            <p class="album_info">Author, 2024</p>
        </div>
        <div class="album">
            <img class="album_cover"
                     src="../img/cover.jpg"
                     alt=""
                />
            <h3 class="album_title">Album</h3>
            <p class="album_info">Author, 2024</p>
        </div>
        <div class="album">
            <img class="album_cover"
                     src="../img/cover.jpg"
                     alt=""
                />
            <h3 class="album_title">Album</h3>
            <p class="album_info">Author, 2024</p>
        </div>
        <div class="album">
            <img class="album_cover"
                     src="../img/cover.jpg"
                     alt=""
                />
            <h3 class="album_title">Album</h3>
            <p class="album_info">Author, 2024</p>
        </div>
        <div class="album">
            <img class="album_cover"
                     src="../img/cover.jpg"
                     alt=""
                />
            <h3 class="album_title">Album</h3>
            <p class="album_info">Author, 2024</p>
        </div>
        <div class="album">
            <img class="album_cover"
                     src="../img/cover.jpg"
                     alt=""
                />
            <h3 class="album_title">Album</h3>
            <p class="album_info">Author, 2024</p>
        </div>


    </section>
</main>
<footer>
    <div id="container">
        <link href='https://fonts.googleapis.com/css?family=Allerta' rel='stylesheet'>
        <div id="song_info">
            <img alt="" src="../img/cover.jpg"/>
            <div id="song_title">
                <h3>Title</h3>
                <p>Author</p>
            </div>
        </div>
        <div class="container-audio">
            <audio controls  loop autoplay>
               <source src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/9473/new_year_dubstep_minimix.ogg" type="audio/ogg">
               Your browser dose not Support the audio Tag
           </audio>
        </div>
    </div>
</footer>
</body>
</html>