<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MeloHub-Catalogue</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/cleanstyles.css" />
    <link rel="stylesheet" type="text/css" href="../css/catalogue.css" />
    <link rel="stylesheet" type="text/css" href="../css/player.css" />
    <link rel="icon" type="image/x-icon" href="../img/logo_black.ico" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.0.0/modern-normalize.min.css"/>
</head>
<body>
<header>
    <a href="../../index.html" class="logo" >
        <img class="image_logo"
         src="../img/logo.png"
         alt="MeloHub logo"/>
        <p>
            MELOHUB
        </p>
    </a>

    <div id="search_icon_div">
        <img id="search_icon"
             src="../img/search.png"
             alt="search"/>
        <a href="../templates/login.html">
            <button class="button-54" role="button" style="margin-top: 0">Sing Up</button>
        </a>
    </div>
</header>
<main>
    <h2>CATEGORIES</h2>
    <section id="categories" class="catalogue_section">
        <button role="button" class="category_btn" onclick="window.location.href='album_list.html'">
            Text
        </button>
        <button role="button" class="category_btn">
            Text
        </button>
        <button role="button" class="category_btn">
            Text
        </button>
        <button role="button" class="category_btn">
            Text
        </button>
        <button role="button" class="category_btn">
            Text
        </button>
        <button role="button" class="category_btn">
            Text
        </button>
        <button role="button" class="category_btn">
            Text
        </button>
        <button role="button" class="category_btn">
            Text
        </button>
        <button role="button" class="category_btn">
            Text
        </button>

    </section>
    <h2>PODCASTS</h2>
    <section id="podcasts" class="catalogue_section">
        <button role="button" class="category_btn">
            Text
        </button>
        <button role="button" class="category_btn">
            Text
        </button>
        <button role="button" class="category_btn">
            Text
        </button>
        <button role="button" class="category_btn">
            Text
        </button>
        <button role="button" class="category_btn">
            Text
        </button>
    </section>
    <h2>GENRES</h2>
    <section id="genres" class="catalogue_section">
        <button role="button" class="category_btn">
            Text
        </button>
        <button role="button" class="category_btn">
            Text
        </button>
        <button role="button" class="category_btn">
            Text
        </button>
        <button role="button" class="category_btn">
            Text
        </button>
        <button role="button" class="category_btn">
            Text
        </button>
        <button role="button" class="category_btn">
            Text
        </button>
        <button role="button" class="category_btn">
            Text
        </button>
        <button role="button" class="category_btn">
            Text
        </button>
        <button role="button" class="category_btn">
            Text
        </button>
        <button role="button" class="category_btn">
            Text
        </button>
    </section>
</main>
<footer>
    <div id="container">
        <link href='https://fonts.googleapis.com/css?family=Allerta' rel='stylesheet'>
        <div id="song_info">
            <img alt="" src="../img/cover.jpg"/>
            <div id="song_title">
                <h3>Title</h3>
                <p>Author</p>
            </div>
        </div>
        <div class="container-audio">
            <audio controls  loop autoplay>
               <source src="" type="audio/ogg">
               Your browser dose not Support the audio Tag
           </audio>
        </div>
    </div>
</footer>
</body>
</html>